* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
body {
  background-color: #1e1e24;
}
h1 {
  background-color: #1e1e24;
  padding: 25px;
  color: #fff;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  text-align: center;
  padding: 24px;
  margin: 20px;
  gap: 1px;
}
